<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Picky Homepage</title>
	
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified CSS -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<nav class="navbar" role="navigation">
<div class="container">
  <div class="row">
  
	<div class="col-xs-6 col-sm-9 left">
   <a href="/" class="logo">
	<img src="/images/bepicky_logo.png">
	</a>
	<a href="/search" class="search">
	Search for Dish
	</a>

	<a href="/profile" class="profile">
	Favorites</a>

	<button class="button-login">
	<a href="/login" class="login">
	Login</a>
	</button>

	<button>
	<a href="/signup" class="signup">
	Sign up Free</a>
	</button>
	</div>
  </div>
 </div>	
</nav>
</body>
</html>