<!DOCTYPE html>
<html>
<head>
     <meta charset="UTF-8">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<title> Dish and Location</title>
</head>
<body>
<div class="container">
<div class="row">
	<div>Dish: <%= food.Dish  %> </div>
	<div> Location: <%= food.Location  %> </div>
	</div>
</div>
</body>
</html>