<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
</head>
<body>

	<div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <form class="myForm" method="GET" action="/search">
                    <input type="text" name="food" placeholder="dish: tacos" id="food">
                    <input type="text" name="city" placeholder="city: San Francisco">

                    <button>Search</button>
                </form>

				

            </div>
        </div>



	<h1>List of Restaurants </h1>

	<ul>
	<script type='text/javascript'>
var food = document.getElementById('food').innerHTML;
console.log("HI"+food);

</script>

	<% results.forEach(function(results) { %>
			<%= results.name %>
		  <form method="POST" action="/favorites">
		  		<input type="text" style="display: none;"
		  		   value="<%= results.name %>" restaurant="name">
		  		 
				
		  		   <button>Add to Favorites</button>
		  	</form>	   

			
			  
	<%	})  %>

</body>
</html>