<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

     <link rel="stylesheet" href="/stylesheets/style.css">


</head>
<body>
	<nav class="navbar navbar-default navbar-static-top" id="navbar-signup">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="images/smallerlogo.png"</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li class="search"><a href="/search">Search for Food</a></li>
            <li class="profile"><a href="/profile">Favorites</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li ><a href="/signup">Sign up Free<span class="sr-only">(current)</span></a></li>
          </ul>
		</div><!--/.nav-collapse -->
      </div>
    </nav>

		<div class="container">
		<div class="login-signup">
	     <h1 class="loginpicky">Login to bepicky.</h1>
	      <form action='/login' method='POST'>
			<input class="email" type="text" name="email" placeholder="email"><br>
			<input class="password" type="password" name="password" placeholder="password"><br>
		<button class="button">Log In!</button>
	</form>
	</div>
</div>

	 <div class="container">
		<p class="ifmember">Not a member? <a href="/signup">Sign up!</a>
    </div>

</body>
</html>