<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="/stylesheets/style.css">
	
</head>
<body>
	<div class='container'>
		<h2>Hi, <%= ejsUser.email  %></h2>
		  <form method='POST' action='/logout?_method=DELETE'>
		     <button>Logout</button>
		   </form>
	</div>	   

		<ul>
			<% idk.forEach(function(fav){ %>
				<li>
					dish: <%= fav.dish %>
					restaurant: <%= fav.restaurant  %>
			

				</li>
			<% }) %>
		</ul>



		
</body>
</html>