<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div class='container'>
		<h2>Hi, <%= ejsUser.email  %></h2>
		  <form method='POST' action='/logout?_method=DELETE'>
		     <button>Logout</button>
		   </form>
	</div>	   

		<ul>
			<% idk.forEach(function(fav){ %>
				<li>
					dish: <%= fav.dish %>
					restaurant: <%= fav.restaurant  %>
			

				</li>
			<% }) %>
		</ul>



		
</body>
</html>