<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div class='container'>
		<h2>Hi, <%= user.email  %></h2>
		  <form method='POST' action='/logout?_method=DELETE'>
		     <button>Logout</button>
		   </form>
	</div>	     
</body>
</html>